body {
  /*background-color: #d25b4b;*/
  background-color: #D4F2F3;
  border-top: 50px solid #FCF6DD;
  font-family: Nunito;
  color: #242424;
}
a {
  color: #242424;
  text-decoration: underline;
}
h1 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 42px;
}
.title {
  margin-top: -38px;
}
.title h4 {
  margin: 0;
}
.content {
  margin: 0;
}
.content .col-md-6 {
  padding: 0;
}
.first{
  margin-top: 100px;
}
@media (min-width: 992px) {
  .image img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .image img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.image img{
  width: 100%;
}
.content .text h2 {
  margin-top: 70px;
}
.content .text p {
  margin: 0 50px 70px 50px;
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: 100;
}
.content .label {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  border: 1px solid #242424;
  font-size: 18px;
  line-height: 3;
}
.content .people img {
  width: 50%;
  float: left;
}
.footer {
  height: 50px;
  /*background-color: #DBF3D0;*/
  background-color: #242424;
}
.footer p {
  margin-top: 14px;
  color: #FCF6DD;
}