body {
  background-color: #D4F2F3;
  border-top: 50px solid #FCF6DD;
  color: #242424;
}
a {
  color: #242424;
  text-decoration: underline;
}
h1 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 42px;
}
.title {
  margin-top: -38px;
}
.title h4 {
  margin: 0;
}
.content {
  margin: 0;
}
.content .col-md-6, .content .col-sm-6, .content .col-md-3 {
  padding: 0;
}
.first{
  margin-top: 100px;
}
@media (min-width: 992px) {
  .image img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .image img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.image img{
  width: 100%;
}
.content .text h2 {
  margin-top: 30px;
}
.content .text p {
  margin: 30px 50px 20px 50px;
  font-size: 1.2em;
  font-weight: 300;
}
.content.people p {
  margin: 20px 50px 10px 50px;
}
.content .label {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  border: 1px solid #242424;
  font-size: 1.1em;
  line-height: 3;
}
.footer {
  height: 50px;
  background-color: #242424;
}
.footer p {
  margin-top: 14px;
  color: #FCF6DD;
}